<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<!-- 映射文件的配置 -->

<mapper namespace="test">
	<resultMap type="Student" id="studentMapper">
	<id column="tid" property="id"/>
	<result column="tname" property="name"/>
	<!-- 给数据表的字段取一个跟bean属性一样的别名，其中主键属性只能用id设置，其他的用result来设置 -->
	</resultMap>
	
	
	
	<insert id="insertStudent" parameterType="Student">
	insert into student(name,age,score) values(#{name},#{age},#{score})  <!-- #{}中的数据必须要跟属性一致 -->
	<!-- insert into student(tname,tage,score) values(#{name},#{age},#{score})  -->
	</insert>	
	
	<insert id="insertStudentCacheId" parameterType="Student">
	insert into student(name,age,score) values(#{name},#{age},#{score})
	<selectKey resultType="int" keyProperty="id">  <!-- 将查询到的id初始化为student的id -->  
	select @@identity   <!-- 查询刚插入到数据库中的student的id -->
	</selectKey>	
	</insert>
	
	<delete id="deleteStudentById">
	delete from student where id=#{abc}   <!-- 这里的#{}仅仅是一个占位符，里面放什么都行 -->
	</delete>
	
	
	<update id="updateStudent">
	update student set name=#{name}, age=#{age}, score=#{score} where id=#{id}
	</update>
	
	<select id="selectAllStudents" resultType="Student" >
	select tid id,tname name,age,score from student      
	<!-- 当数据表的字段和bean的属性名称不想同时可以将数据表的字段名去一个别名,名称和属性一样 -->
	</select>
	
	<!-- 使用结果映射resultmap -->
	<select id="selectStudentById" resultMap="studentMapper" >
	select tid,tname,age,score from student where tid=#{adc}     <!-- 其中#{}中的数据可以随便写,resultMap必须先定义好 -->
	</select>
	
	<select id="selectStudentByName" resultType="Student">
	select id,name,age,score from student where name=#{name} <!-- 其中#{}中的数据可以随便写 -->
	</select>
	
	<!-- <select id="selectStudentByName" resultType="Student">
	select id,name,age,score from student like '%' #{abc} '%' 
	 模糊查询，可以根据输入的字符串查询相关的数据，其中#{}的数据可以随便填写	
	</select> -->
	
	
</mapper>